/* 隐秘性适配 */
html body,
.app,
.readerContent .app_content {
  background: transparent !important;
}
.readerBottomBar {
  box-shadow: none !important;
}

/* 去滚动条 */
body::-webkit-scrollbar {
  display: none;
}

/* 样式美化 */
.navBar_home,
.navBar {
  border-radius: 12px;
}
.navBar_border {
  border-width: 0;
}

/* 拖动区域 */
.navBar_inner {
  user-select: none;
  -webkit-app-region: drag;
}
.navBar_inner > *,
.search_banner {
  -webkit-app-region: no-drag;
}

/* 特殊适配 */
@media (max-width: 767px) {
  .readerCatalog {
    top: 0;
  }
  .readerWriteReviewPanel {
    max-height: calc(100vh - 90px);
  }
}
